body { background: #6862fa; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 12px; display: flex; }
.block-logger-0 { color: #8ea46b; font-size: 13px; margin-bottom: 5px; }
.block-shipping-1 { color: #5d079c; font-size: 18px; margin-bottom: 5px; }
.block-product-2 { color: #379b14; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #82e9b9; font-size: 20px; margin-bottom: 5px; }
.block-invoice-4 { color: #b7bc65; font-size: 21px; margin-bottom: 5px; }